body {
    background-image: linear-gradient(to bottom right, rgba(155,185,255,1), rgba(155,185,255,0));
}

.text-center {
	text-align: center;
}

/* Style the label so it looks like a button */
input.ck-btn {
  display: none;
}
input.ck-btn + label {
  border: 1px solid grey;
  background: #B7D1D4;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}
input.ck-btn + label:active,
input.ck-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #33CDDF;
}

/*Hover and click effects*/
input.ck-btn + label:hover {
  box-shadow: 0px 1px 3px red;
}
input.ck-btn + label:active {
  box-shadow: 0 1px 3px #B5361F;
  transform: translateY(4px);
}


/*Disable selection of text*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}