<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="Help users to figure out ghost type in Phasmophobia easier" content="">
		<meta name="By Gillian Sanchez" content="">
		<link rel="shortcut icon" href="#">
		<title>Ghost Finder</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading">Ghost Finder</h1>

						<!-- Change what appears depending on whether user is logged in -->
						<div class=metanav>
								<p class="lead">Click your evidences</p>


								<input type="checkbox" id="EMF5" class="ck-btn" value="EMF5">
								<label for="EMF5" class="noselect">EMF5</label>

								<input type="checkbox" id="SpiritBox" class="ck-btn" value="Spirit Box">
								<label for="SpiritBox" class="noselect">Spirit Box</label>

								<input type="checkbox" id="Fingerprints" class="ck-btn" value="Fingerprints">
								<label for="Fingerprints" class="noselect">Fingerprints</label>

								<input type="checkbox" id="GhostOrb" class="ck-btn" value="Ghost Orb">
								<label for="GhostOrb" class="noselect">Ghost Orb</label>

								<input type="checkbox" id="GhostWriting" class="ck-btn" value="Ghost Writing">
								<label for="GhostWriting" class="noselect">Ghost Writing</label>

								<input type="checkbox" id="Freezing" class="ck-btn" value="Freezing Temperatures">
								<label for="Freezing" class="noselect">Freezing Temperatures</label>

								<br>

								<p id="debugOutput">​</p>
  						</div>
  						
					</div>
				</div>
			</div>
		</div>

		<div class="mastfoot">
  			<p>Gillian Sanchez 1003184</p>
		</div>


		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
