<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="Help users to figure out ghost type in Phasmophobia easier" content="">
		<meta name="By Gillian Sanchez" content="">
		<link rel="shortcut icon" href="#">
		<title>Ghost Finder</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading">Ghost Finder</h1>

						<!-- Content start -->
						<div class="metanav">
								<p class="lead">Click your evidences</p>

								<!-- Show all buttons as toggle buttons -->
								<input type="checkbox" id="EMF5" class="ck-btn" value="EMF5">
								<label for="EMF5" class="noselect">EMF5</label>

								<input type="checkbox" id="SpiritBox" class="ck-btn" value="Spirit Box">
								<label for="SpiritBox" class="noselect">Spirit Box</label>

								<input type="checkbox" id="Fingerprints" class="ck-btn" value="Fingerprints">
								<label for="Fingerprints" class="noselect">Fingerprints</label>

								<input type="checkbox" id="GhostOrb" class="ck-btn" value="Ghost Orb">
								<label for="GhostOrb" class="noselect">Ghost Orb</label>

								<input type="checkbox" id="GhostWriting" class="ck-btn" value="Ghost Writing">
								<label for="GhostWriting" class="noselect">Ghost Writing</label>

								<input type="checkbox" id="Freezing" class="ck-btn" value="Freezing Temperatures">
								<label for="Freezing" class="noselect">Freezing Temperatures</label>
					
								<br>

								<!-- Visual representation of possible ghost types -->
								<div class="container">
									<div id="Spirit" class="box">
  										Spirit
  										<br>
  										<p id="SpiritE" class="sml"></p>
									</div>
									<div id="Wraith" class="box">
  										Wraith
  										<br>
  										<p id="WraithE" class="sml"></p>
									</div>
									<div id="Phantom" class="box">
  										Phantom
  										<br>
  										<p id="PhantomE" class="sml"></p>
									</div>
								</div>
								<br>
								<div class="container">
									<div id="Poltergeist" class="box">
  										Poltergeist
  										<br>
  										<p id="PoltergeistE" class="sml"></p>
									</div>
									<div id="Banshee" class="box">
  										Banshee
  										<br>
  										<p id="BansheeE" class="sml"></p>
									</div>
									<div id="Jinn" class="box">
  										Jinn
  										<br>
  										<p id="JinnE" class="sml"></p>
									</div>
								</div>
								<br>
								<div class="container">
									<div id="Mare" class="box">
  										Mare
  										<br>
  										<p id="MareE" class="sml"></p>
									</div>
									<div id="Revenant" class="box">
  										Revenant
  										<br>
  										<p id="RevenantE" class="sml"></p>
									</div>
									<div id="Shade" class="box">
  										Shade
  										<br>
  										<p id="ShadeE" class="sml"></p>
									</div>
								</div>
								<br>
								<div class="container">
									<div id="Demon" class="box">
  										Demon
  										<br>
  										<p id="DemonE" class="sml"></p>
									</div>
									<div id="Yurei" class="box">
  										Yurei
  										<br>
  										<p id="YureiE" class="sml"></p>
									</div>
									<div id="Oni" class="box">
  										Oni
  										<br>
  										<p id="OniE" class="sml"></p>
									</div>
								</div>

								<!--
									text
								<br>
								<p>Can be: </p>
								<p id="possible">​Spirit, Wraith, Phantom, Poltergeist, Banshee, Jinn, Mare, Revenant, Shade, Demon, Yurei, Oni</p>

								<br>

								<p>Can't be: </p>
								<p id="impossible">​None</p>
								-->
  						</div>
  						
					</div>
				</div>
			</div>
		</div>

		<div class="mastfoot">
  			<p>Gillian Sanchez 1003184</p>
		</div>


		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
